<h1>Listing tabs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tabs.each do |tab| %>
  <tr>
    <td><%= tab.name %></td>
    <td><%= tab.title %></td>
    <td><%= tab.content %></td>
    <td><%= link_to 'Show', tab %></td>
    <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
    <td><%= link_to 'Destroy', tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p>
  <b>RG:</b>
<%= @rg %>
</p>

<p>
  <b>Parsed Request:</b>
<%= @parsed_request %>
</p>



<br />

<%= link_to 'New Tab', new_tab_path %>
