<% if @facebook == false %>

<h1>Listing tabs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tabs.each do |tab| %>
  <tr>
    <td><%= tab.name %></td>
    <td><%= tab.title %></td>
    <td><%= tab.content %></td>
    <td><%= link_to 'Show', tab %></td>
    <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
    <td><%= link_to 'Destroy', tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Tab', new_tab_path %>

<% end %>

<br/>

<p>Facebook: <%= @facebook %></p>

<br/> 

<% if @facebook == true %>

<h2>Facbook Tab</h2>

<p>
  <b>Name:</b>
  <%= @tab %>
</p>

<p>
  <b>FB PAGE ID:</b>
  <%#= @tab.fb_page_id %>
</p>

<p>
  <b>RG:</b>
<%= @rg %>
</p>

<p>
  <b>Parsed Request:</b>
<%= @parsed_request %>
</p>

<p>   
  <b>Current FB Page ID</b>
<%= @request_id %>
</p>

<% end %>