<h1>Facebook Tab</h1>

<p>
  <b>Name:</b>
  <%= @tab.name %>
</p>

<p>
  <b>Title:</b>
  <%= @tab.title %>
</p>

<p>
  <b>Content:</b>
  <%= @tab.content %>
</p>


<p>
  <b>Params:</b>
  <%= @params %>
</p>

<p>
  <b>Request:</b>
  <%= @request %>
</p>

<p>
  <b>Signed Request:</b>
  <%= @signed_request %>
</p>

<p>
  <b>Data:</b>
  <%= @data %>
</p>

<p>
  <b>Graph:</b>
  <%= @profile %>
</p>



<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %>
<%= link_to "Add #{ @tab.name } to your Facebook Page","https://www.facebook.com/dialog/pagetab?app_id=489815807777705&next=https://radiant-island-4482.herokuapp.com/tabs/&app_data=#{@tab.id}" %>