<p id="notice"><%= notice %></p>

<h1>Facebook Tab</h1>

<p>
  <b>Name:</b>
  <%= @tab.name %>
</p>

<p>
  <b>Title:</b>
  <%= @tab.title %>
</p>

<p>
  <b>Content:</b>
  <%= @tab.content %>
</p>

<p>
  <b>Facebook?:</b>
  <% %>
</p>

<p>
  <b>Params:</b>
  <%= @params %>
</p>

<p>
  <b>Request:</b>
  <%= @params[:signed_request] %>
</p>



<%= link_to 'Edit', edit_tab_path(@tab) %> |
<%= link_to 'Back', tabs_path %>
<%= link_to "Add #{ @tab.name } to your Facebook Page","https://www.facebook.com/dialog/pagetab?app_id=489815807777705&next=https://radiant-island-4482.herokuapp.com/tabs/&app_data=#{@tab.id}" %>

<script type="text/javascript">
if(location.href != top.location.href){ alert('the content has been loaded into an IFRAME');}
</script>